:root {
  --navbar-height: 60px;
  --primary-color: #0EB1D2;
  --text-color: black;
  --primary-color-darker: #0b95b1;
  --background-color: white;
  --danger-color: #DC0808;
  --danger-color-darker: #BE0707;
  --success-color: #069C1F;
  --success-color-darker: #05821A;
  --disabled-color: grey;
}

[data-theme="dark"] {
  --primary-color: black;
  --background-color: #15141B;
  --text-color: white;
  --primary-color-darker: #070707;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', arial, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
  overflow: hidden;
  background-color: var(--background-color);
  transition: background-color 250ms ease-out;
}

.container>div {
  flex-grow: 1;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

@media (max-width: 540px) {
  :root {
    --navbar-height: 80px;
  }
}