.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    transition: background-color 250ms ease-out;
}

.title {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.changingTitle {
    max-height: 31px;
    overflow: hidden;
}

.titleNames {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

.titleNames span{
    display: block;
    height: 31px;
}

.linksContainer {
    display: flex;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.link.active {
    pointer-events: none;
    text-decoration: underline;
}

@media (max-width: 540px) {
    .navbar {
        flex-direction: column;
        gap: 0px;
    }
    .title {
        font-size: 20px;
        font-weight: 700;
    }
}