.container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.questionForm {
    width: 60%;
    max-width: 750px;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    line-height: 80px;
}

.questionInputContainer {
    position: relative;
}

.questionInput {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-color);
    width: 100%;
    font-size: .66em;
    padding-right: 25px;
    text-align: center;
}

.questionMark {
    position: absolute;
    bottom: 0;
    right: 0;
}

.question,
.answer {
    font-size: 3em;
    max-width: 80%;
    word-wrap: break-word;
}

.resetBtn {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 1.4em;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 6px;
    transition: background-color 250ms ease-out;
    display: none;
    color: white;
}

.resetBtn:hover {
    background-color: var(--primary-color-darker);
}

@media (max-width: 800px),
(max-height: 500px) {
    .container {
        font-size: 0.85rem;
    }
}

@media (max-width: 540px) {
    .container {
        font-size: 0.5rem;
    }

    .questionForm {
        width: 280px;
    }
}