.container {
    position: absolute;
    bottom: 15px;
    left: -65px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.iconButton {
    background: none;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity 250ms ease-out;
}

.iconButton span {
    line-height: 50px;
}

.iconButton:hover {
    opacity: 1;
}

.darkMode {
    background-color: black;
    color: white;
}

.lightMode {
    background-color: white;
    color: black;
}